__pycache__
.vscode
.idea

# Data folders
all excels/*
all resumes/*
logs/*

# Keep folder structure
!all resumes/.gitkeep
!all excels/.gitkeep
!logs/.gitkeep

old

secrets.py
config/personals.py
.venv
apikeys.py